.popup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 18px auto 37px;
    width: 358px;
  }

  @media all and (max-width: 1023px) {
    .popup__form { 
      width: 295px;
      margin: 18px auto 18px;
    }
  }

  @media all and (max-width: 665px) {
    .popup__form { 
      width: 238px;
      margin-top: 0;
      margin-bottom: 25px;
    }
  }