.popup__close-button-vector {
    max-width: 32px;
    min-height: 32px;
  }
  
  @media all and (max-width: 1023px) {
    .popup__close-button-vector {
      max-width: 25px;
      min-height: 25px;
    }
  }

  @media all and (max-width: 665px) {
    .popup__close-button-vector {
      max-width: 20px;
      min-height: 20px;
    }
  }